:root {
    --background: #0b0509;
    --secondary-button: #a22d2d;
    --ice: #a9e1e5, #cefcff, #abf9ff, #abf9ff;
    --cards-background: 135deg,#25273c, #4d073d;
    --border: 90deg,#1c1d2d,#454970, #850968, #590445;
    --slot-background: 135deg, var(--background), #07060b, var(--background);
    --accent: #ff00ee;
}
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/pixel.ttf') format('truetype');
}

body {
    font-family: 'Pixel';
}


body {
    background-color: var(--background);
    color: var(--ice);
}

.button-primary {
    position: relative;
    margin: 0 auto;
    margin-top: 3vh;
    background-image: linear-gradient(var(--slot-background));
    font-size: 0.6em;
    text-align: center;
    color: var(--ice);
    border-color: transparent;
    border-radius: 2px;
    height: 5vh;
    width: fit-content;
    
    transition: color 0.2s ease-in-out;
}

.button-primary:hover {
    color: #3a053b;
    
}

.button-primary:active {
    color: aliceblue;
}

#collapse-button{
    display: none;
}


.button-secondary {
    position: relative;
    background-color: var(--secondary-button);
    font-size: 0.1em;
    height: 3vh;
    width: 8vw;
    border-radius: 20px;
}


.side-panel-wrapper{
    /*background-color: rgba(255, 255, 255, 0.05);*/
    padding: 7px;
    position: fixed;
    width: 20vw;
    height: 100%;
}
.side-panel{
    position:relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /*Janky way of making a linear-grad border with a radius*/
    border: double 1px transparent;
    border-radius: 1em;
    background-image: linear-gradient(var(--cards-background)),
    linear-gradient(var(--border));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.side-panel-profile-wrapper{
    background-color: #fdfdfd;
    display: flex;
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 10vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.side-panel-about-wrapper{
    background-color: #d4ff00;
    display: flex;
    top: 10vh;
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 15vh;
}

.side-panel-language-wrapper{
    background-color: #001aff;
    display: flex;
    justify-content: space-evenly;
    top: 25vh;
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 15vh;
}


.side-panel-grid{
    background-color: #008cff;
    top: 40vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.05vh;
    padding: 5px;
    width: 100%;
}

.side-panel-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    text-align: center;
    padding: 1px;
    margin: 1px;
    color: rgb(255, 255, 255);

    border-radius: 0.7em;
    background-image: linear-gradient(var(--slot-background));
}

.side-panel-h{
    margin: 3px;
    margin-left: 1vw;
    text-align:left;
    font-size: 0.6em;
}

.side-panel-p{
    margin: 3px;
    margin-top: 5px;
    margin-right: 1vw;
    text-align: right;
    font-size: 0.5em;
}

.progress-bar-background{
    margin-top: 10px;
    margin-left: 6vw;
    position: absolute;
    background-color: #340131;
    height: 0.1em;
    width: 7vw;
}

.progress-bar{
    margin-top: 10px;
    margin-left: 6vw;
    position: absolute;
    background-color: #ff00ee;
    height: 0.1em;
}

.p75{
    width: 5vw; 
}

.p70{
    width: 4.5vw;   
}

.p65{
    width: 4vw;   
}

.p50{
    width: 3.5vw;   
}

/*
.c75{
  color: rgb(255, 30, 0);  
}

.c70{
    color: rgb(255, 80, 0);  
}

.c65{
    color: rgb(255, 130, 0);  
}

.c50{
    color: rgb(212, 255, 0);  
}
*/


.top-intro-wrapper{
    /*background-color: rgba(255, 255, 255, 0.05);*/
    position:relative;
    margin-left: 20vw;
    padding: 7px;
    width: 80vw;
    height: 30vh;
    
}

.top-intro{
    position:relative;
    width: 100%;
    height: 100%;

    /*Janky way of making a linear-grad border with a radius*/
    border: double 1px transparent;
    border-radius: 1em;
    background-image: linear-gradient(var(--cards-background)),
    linear-gradient(var(--border));
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.card-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    margin-left: 20vw;
    margin-top: 2vh;
    padding: 2vh;
    width: 80vw;
}

.card {
    height: 30vh;
    overflow: auto;
    text-align: center;
    padding: 1px;
    color: rgb(255, 255, 255);

    /*Janky way of making a linear-grad border with a radius*/
    border: double 0.1px transparent;
    border-radius: 12px;
    background-image: linear-gradient(var(--cards-background)),
    linear-gradient(var(--border));
    background-origin: border-box;
    background-clip: content-box, border-box;

    transition: width 0.7s ease, height 0.7s ease;
}

.card.expanded{
    /*Janky linear grad border with radius*/
    border: double 0.1px transparent;
    border-radius: 12px;
    background-image: linear-gradient(var(--cards-background)),
    linear-gradient(var(--border));
    background-origin: border-box;
    background-clip: content-box, border-box;

    position: fixed;
    top: 18vh;
    left: 19vw;
    width: 80vw;
    height: 80vh;
    z-index: 9999;
}


.card.expanded #collapse-button{
    display: block;
    position: absolute;
    left: 10px;
}

.card.expanded h1{
    text-align: center;
}

.card.expanded p{
    text-align: center;
}

.card.expanded .button-primary
{
    display: none;
}

.card h1
{
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
    text-align: left;
    background: linear-gradient(120deg, var(--ice));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p
{
    padding: 5px;
    padding-top: 10px;
    font-size: 0.5em;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.socials-wrapper{
    /*background-color: #ff0000;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    margin-top: 66vh;
    width: 100%;
    height: 6.5vh;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.socials{
    margin-top: 3vh;
    background-color: #340131;
    justify-content: flex-end;
    width: 100%;
    height: 3.5vh;
}

.seg1{
    border-bottom-left-radius: 1em;
    border-right: 1px solid rgba(120, 120, 121, 0.402);
}

.seg2{
    border-right: 1px solid rgba(120, 120, 121, 0.402);
}

.seg3{
    border-bottom-right-radius: 1em;
}

.socials:hover{
    background-color: #2b062a;
}

@media screen and (max-width: 600px) {
    .side-panel-wrapper {
        display: none;
    }

    .top-intro-wrapper {
        margin-left: 0;
        padding: 2vw;
        width: 100vw;
        height: 10vh;
    }
    .top-intro {
        margin-left: 0;
        width: 100%;
        height: 100%;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        padding: 2vw;
        width: 100vw;
    }
    .card h1
    {
        font-size: 1.8em;
        font-weight: bolder;
        text-align: center;
    }

    .card p
    {
        padding-top: 10px;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

    .button-primary {
        position: relative;
        margin: 0 auto;
        margin-top: 5vh;
        font-size: 1.6em;
        text-align: center;
        height: 5vh;
        width: fit-content;
        
        transition: color 0.2s ease-in-out;
    }

    .card.expanded{
        position: fixed;
        top: 0;
        left: 5vw;
        width: 90vw;
        height: 80vh;
        z-index: 9999;
    }
    
    .card.expanded #collapse-button{
        display: block;
        position: absolute;
        margin-top: 0;
    }
    
    .card.expanded h1{
        margin-top: 5vh;
        text-align: center;
    }
    
    .card.expanded p{
        text-align: center;
    }
    
    .card.expanded .button-primary
    {
        display: none;
    }
    

}
